#header{
    display: flex;
    justify-content: space-between;
    background-color: #96c9cd;
    width: 100vw;
    height: 4.5em;
    margin-top: 1.5em;
    opacity: 70%;
}


#menu {
    display: flex;

}

#logoheader {
display: flex;
justify-content: flex-end;
background-image: url("../../img/sushiya.png");
width: 300px;
height: 100px;
margin-top: -2.8em;

}

#orderbutton{
    display: flex;
    margin-top: 1rem;
    font-family: Audrey, monospace;
    font-size: 20px;
    color: #917aa4;
    font-weight: bold;
    background-color: #96c9cd;
    border: none;
    text-decoration: none;
}

#loginButtonHeader {
    display: flex;
    width: 5rem;
    color: #917aa4;
    text-decoration: none;
    margin-left: 2rem;
    margin-top: 1rem;
}

#loginButtonHeader:hover{
    color: #f3ebc6;
}

#orderbutton:hover {
    color: #f3ebc6;
}

#cartbutton {
    display: flex;
    /* position: absolute; */
    /* margin-top: -2.2em; */
    margin-left: 60em;
    font-family: Audrey, monospace;
    font-size: 20px;
    color: #917aa4;
    font-weight: bold;
    background-color: #96c9cd;
    border: none;
}

#cartbutton:hover {
    color: #f3ebc6;
}

#logocart {
    display: flex;
    background-image: url("../../img/logocarro150.png");
    width: 100px;
    height: 90px;
    margin-top: -0.5rem;
}


#logocart:focus {
    text-decoration: none;
    outline: none;
}