.product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 10rem;
    width: 10rem;
    padding: 2rem;
}

#up{
    display: flex;
    justify-content: center;
    height: 5rem;
    margin-bottom: 1rem;
}

#productImage{
    height: 7rem;
}

#down{
    display: flex;
    justify-content: center;
    height: 3rem;
}
#cart{
    height: 3rem
}