#subheader {
    display: flex;
    background-color: #917aa4;
    width: 100vw;
    height: 4.5em;
    opacity: 70%;
}


#sushibutton-submenu {
    display: flex;
    position: absolute;
    margin-top: 0.8em;
    margin-left: 20.5em;


}

#entrantesbutton-submenu {
    display: flex;
    position: absolute;
    margin-top: 0.8em;
    margin-left: 27em;
}

#antisushibutton-submenu {
    display: flex;
    position: absolute;
    margin-top: 0.8em;
    margin-left: 36em;
}

#dulcebutton-submenu {
    display: flex;
    position: absolute;
    margin-top: 0.8em;
    margin-left: 45em;
}

#bebidabutton-submenu {
    display: flex;
    position: absolute;
    margin-top: 0.8em;
    margin-left: 52em;
}

.menubuttons:hover{
    background-color: none;
    color: #e2ddfa;
}