#registerContainer{
    background-image: url("../../img/Back3.jpg");
    background-color: #e2ddfa;
    display:    flex;
    justify-content: center;
    height: 50rem;
}

#logo{
    display: flex;
    justify-content: center;
    height: 10rem;
    width: 30rem;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: #96c9cd;
}

#logoImage{
    display: flex;
    align-self: center;
    background-image: url("../../img/sushiya.png");   
    height: 10rem; 
    width: 20rem;
}

form {
    display: flex;
    flex-direction: column;    
    width: 15rem;
}

#windowRegister {
    background-color: white;
    display: flex;
    justify-items: center;
    align-self: center;
    flex-direction: column;
    box-shadow: 0.2rem 0.2rem 1rem black ;
    border-radius: 1rem;
    width: 30rem;
    height: 30rem;
}

form{
    width: 25rem;
}

#formInputs{
    display: flex;
    justify-content: center;
}

input{
    margin-left: 10rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid #96c9cd;
    border-top: 0rem;
    border-left: 0rem;
    border-right: 0rem;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::placeholder{
    font-weight: bolder;
}

h3{
    color: #917aa4;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

button{
    background-color: #917aa4;
    border: 0.2rem solid #96c9cd;
    border-radius: 0.5rem;
    height: 3rem;
    padding: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    color: #f3ebc6;
    margin-top: 2rem;
}

button:hover{
    color: #96c9cd;
}