#productCheckout{
    display: flex;
    justify-content: center;
    height: 10rem;
    width: 50rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

#leftCheckout{
    display: flex;
    justify-content: center;
    width: 5rem;
}

#productImage{
    height: 7rem;
    cursor: pointer;
}

#rightCheckout{
    display: flex;
    height: 10rem;
    width: 40rem;
}

#checkoutName, #checkoutPrice{
    width: 20%;
}

#checkoutDescription{
    width: 60%;
}

